@model DynamicRows.Web.Models.DefaultDetail

@{
    ViewBag.Title = "Detail";
}

<h2 class="text-center">@Model.Name</h2>
@if (Model.Items?.Count > 0)
{
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Number)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                </tr>
            }
        </table>
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
